@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-lato: 'Lato', sans-serif;
}

p {
  text-align: justify !important;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}